.header-color{
    background-color: #264653;
}
.bz-btn{
    background-color: #E76F51;
}
.black-white{
    filter: grayscale(1);
}
.icon-color{
    color: yellow;
}
.bz-btn-1{
    border: none;
    background: #0B0D17;
}
.foot-img{
    width: 135px;
}
footer{
    background: #0B0D17;
}